* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Helvetica;
    padding-top: 100px;
    background-color: #000
}

#tasks-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tasks-header {
    width: 100%;
    margin-bottom: 40px;
}

#tasks-header h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

#add-task-form {
    display: flex;
    flex-direction: row;
}

#add-task-form input {
    border: none;
    border-radius: 30px;
    background: #fff;
    color: #34073D;
    padding: 20px;
    font-size: 1.3rem;
    width: 90%;
    margin-right: 5px;
}

#add-task-form input::placeholder {
    color: #34073D;
}

#add-task-form input:focus {
    outline: none;
}

#add-button {
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: .5s;
    width: 55px;
    height: 53px;
}

#add-button-icon {
    font-size: 30px;
}

#add-button:hover {
    background-color: #067F06;
    color: #fff;
}

#tasks-list-container {
    width: 100%;
    height: auto;
}

#tasks-list-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#task-list {
    list-style: none;
    padding-left: 0;
}

#task-list li {
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    color: #34073D;
    margin-bottom: 10px;
    padding-left: 20px;
    transition: .5s;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.task-buttons {
    width: 20%;
    height: 90%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.done-button,
.remove-button {
    width: 45%;
    height: 100%;
    font-size: 32px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
}

.done-button:hover {
    color: #fff;
    background-color: #FFBD00;
}

.remove-button:hover {
    color: #fff;
    background-color: #E60000;
}

#task-list li.hide {
    display: none;
}

#task-list li.done {
    background-color: #000;
    color: #fff;
}

.line-done {
    text-decoration: line-through;
}