* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}

body {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Helvetica;
    padding-top: 100px;
}

#tasks-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tasks-header {
    margin-top: 40px;
    width: 100%;
}

#add-task-form input {
    border: 1px solid #34073D;
    background: #fff;
    color: #34073D;
    padding: 15px;
    font-size: 18px;
    width: 100%;
}

#add-task-form input::placeholder {
    color: #34073D;
}